<div class="submit-form">
  <div>
    <h2 style="text-align: center; margin-right: 10%;">Сервис для хранения данных о достопримечательностях</h2>
  </div>
      <form [formGroup]="registerForm">
        <div>
          <h3 style="text-align: center;">Регистрация</h3>
        </div>
        <!-- <h2 style="text-align: center;">Регистрация</h2> -->
        <div class="form-group">
          <!-- <label for="username">Логин:</label> -->
          <input type="text" class="form-control" id="username" placeholder="Введите логин" formControlName="username"/>
        </div>
    
        <div class="form-group">
          <!-- <label for="email">Email:</label> -->
          <input type="email" class="form-control" id="email" placeholder="Введите Email" formControlName="email" />
        </div>
    
        <div class="form-group">
          <!-- <label for="number">Номер телефона:</label> -->
          <input type="tel" class="form-control" id="number" placeholder="Введите номер телефона" formControlName="number" />
        </div>
    
        <div class="form-group">
          <!-- <label for="password">Пароль:</label> -->
          <input type="password" class="form-control" id="password" placeholder="Введите пароль" formControlName="password" />
        </div>
    
        <div class="form-group">
          <!-- <label>Роль:</label> -->
          <div class="radio-group">
            <label class="radio-label">
              <input type="radio" name="role" value="SIMPLE_USER" formControlName="role"><b>Простой пользователь</b>
            </label>
            <label class="radio-label">
              <input type="radio" name="role" value="MODERATOR" formControlName="role"><b>Модератор</b>
            </label>
          </div>
        </div>
        
        <button (click)="newUser()" type="submit" class="registration-button">Зарегистрироваться</button>
        <hr>
        <button class="registration-button" (click)="redirectToLogin()">У меня уже есть аккаунт</button>
        <br>
      </form>
</div>
